.addproduct {
  width: 100%;
  background-color: #fff;
  padding: 100px 0;
  background-image: url("../../images/oCHFZ3.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .container {
    width: 85%;
    .form {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      .formlabel {
        color: #fff !important;
        margin-top: 20px;
      }
      input {
        margin-left: 1rem;
        font-family: gotham, Sans-Serif;
        background-color: #f4f3f3;
        border-radius: 0;
        letter-spacing: 0.075rem;
        border: solid 0.0625rem #f4f3f3;
        width: 400px;
        height: 50px;
        margin-top: 20px;
        overflow: visible;
        outline: none;
        padding: 5px;
      }
      input:last-child {
        background-color: transparent;
        border: none;
        height: auto;
        width: auto;
        cursor: pointer;
      }
      .formlabel {
        color: #000;
        margin-top: 20px;
      }
      .addimg {
        width: 200px;
        height: 300px;
        align-items: center;
        .preview {
          img {
            width: 200px;
            height: 300px;
            padding: 10px;
          }
        }
        .img {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      .addbtn {
        border: 1px solid #fff;
        font-family: gotham, Sans-Serif;
        min-width: 10rem;
        display: inline-block;
        padding: 1rem 1.2rem;
        margin: 1rem 0px;
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 1.2;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        transition: 0.2s all ease-out;
        color: #000;
        cursor: pointer;
        z-index: 100;
        &:hover {
          color: #fff;
          transition: 0.2s all ease-out;
          background: #272727;
        }
      }
    }
  }
}
